/* src/components/Information.css */
.information-section {
  padding: 2rem;
  background-color: rgba(192, 207, 224, 0);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  text-align: center;
  margin-bottom: 2rem;
}

.information-section h2 {
  font-family: var(--font-cute);
  font-size: 3rem;
  color: var(--color-secondary);
  margin-bottom: 2rem;
}

.info-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.info-card {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1.5rem 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-basis: 30%;
  font-size: 1.2rem;
}

.info-card h3 {
  font-family: var(--font-cute);
  color: var(--color-secondary);
  font-size: 2rem;
}

@media (max-width: 768px) {
  .info-card-container {
    flex-direction: column;
    align-items: center;
  }

  .info-card {
    flex-basis: 100%;
  }
}
