/* src/components/Itinerary.css */
.itinerary-container {
  padding: 4rem 2rem;
  text-align: center;
}

.itinerary-container h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--color-secondary);
}

.itinerary-timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.itinerary-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: var(--color-primary);
  transform: translateX(-50%);
}

.itinerary-timeline-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.itinerary-timeline-item.is-visible {
  opacity: 1;
}

.itinerary-timeline-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  border: 2px solid var(--color-background);
  transform: translate(-50%, -50%);
  z-index: 2; /* Increased z-index to sit on top of cards */
}

.itinerary-content {
  font-size: 1rem;
  flex-basis: 45%;
  padding: 1rem;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 2rem; /* Add margin to prevent overlapping */
}

.itinerary-content h4 {
  font-size: 1.5rem;
}

.itinerary-timeline-date {
  padding: 1rem;
  font-family: var(--font-cute);
  color: var(--color-text);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  flex-basis: 45%;
  position: relative;
  margin: 0 2rem; /* Add margin to prevent overlapping */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .itinerary-timeline::before {
    left: -2rem;
  }

  .itinerary-timeline-item {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 3rem;
    margin-bottom: 2rem;
  }

  .itinerary-timeline-dot {
    left: -2rem;
    transform: translate(-50%, -50%);
  }

  .itinerary-timeline-date,
  .itinerary-content {
    flex-basis: auto;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .itinerary-timeline-item .itinerary-timeline-date,
  .itinerary-timeline-item .itinerary-content {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .itinerary-timeline-item {
    padding-left: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .itinerary-timeline::before {
    display: block;
  }

  .itinerary-timeline-dot {
    display: block;
  }
}
